<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>This is the Home page 3*3</h1>
  <h2><%= 3*3 %></h2>
  <h2><%= ["hello","how r u","namaste"][2]%></h2>
  <h2><%= "apna college".toUpperCase()%></h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, tempore officia tempora iusto ratione officiis nulla voluptas assumenda nihil ducimus numquam tenetur accusantium optio inventore incidunt quos ex totam id?</p>
  <button>click me!</button>
</body>
</html>